.app {
  width: calc(100% - 60px);
  margin: 0 auto;
  padding: 20px;
  background-color: #ecedee;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #1F3B5C;
  font-weight: lighter;
  padding-left: 30px;
  padding-right: 30px;
  height: 100vh;
  text-align: center;
  height: auto;
}

h1 {
  margin-top: 20px;
  font-size: 2rem;
  color: #1F3B5C;
  text-align: center;
}

h2 {
  margin-right: auto;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  padding: 11px 12px;
  width: 100%;
  box-sizing: border-box;
}

.search-bar-input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 2px solid #ddd;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #1F3B5C;
}

.search-bar-input::placeholder {
  color: #6C757D;
}

@media (max-width: 768px) {
  .search-bar-input {
    max-width: 90%;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .search-bar-input {
    max-width: 100%;
    font-size: 12px;
  }
}

.employee-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.employee-form input,
.employee-form select,
.employee-form button {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.employee-form .image-preview {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 0.5rem;
}

.employee-form button {
  background-color: #1F3B5C;
  color: white;
  cursor: pointer;
}

.employee-form button:hover {
  background-color: #3a76bb;
}

.employee-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.employee-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  border: 2px solid #1F3B5C; /* Changed border color and thickness */
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-bottom: 1rem;
  justify-content: center;
  text-align: center;
}

.employee-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.employee-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.employee-details p {
  margin: 0.2rem 0;
}

.employee-details button {
  margin-top: 0.5rem;
  color: white;
  padding: 0.4rem 0.5rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #1F3B5C;
  margin-left: 5px;
}

.employee-details button:hover {
  background-color: #3a76bb;
}

#employee-form input[type="text"]::placeholder,
input[type="email"]::placeholder {
  color: #6C757D;
}

select {
  color: #6C757D;
}

#employee-list {
  color: #6C757D;
}

#employee-form input {
  color: #6C757D;
}

@media (max-width: 768px) {
  .app,
  .employee-form,
  .employee-list {
    width: calc(100% - 60px);
    padding-left: 30px;
    padding-right: 30px;
  }

  h1,
  .search {
    text-align: center;
  }

  .employee-form {
    margin-left: auto;
    margin-right: auto;
  }

  .employee-list {
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
  }

  .employee-item {
    flex-direction: column;
    align-items: center;
  }

  .employee-image {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }

  .employee-details {
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1120px),
(max-width: 1114px),
(max-width: 760px),
(max-width: 420px),
(max-width: 320px),
(max-width: 936px) {
  h1 {
    text-align: center;
  }

  .search {
    text-align: center;
  }
}
