/* Base styles for the application */
.app {
  max-width: 100%;
  width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #d8dde2;
  height: auto;
  font-family: serif;
  color: #1F3B5C;
}

.employee-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.employee-form input,
.employee-form select,
.employee-form button {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.employee-form .image-preview {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 0.5rem;
}

.employee-form button {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.employee-form button:hover {
  background-color: #45a049;
}

.employee-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.employee-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.employee-image {
  width: 100px;
  height: 160px;
  border-radius: 10%;
  object-fit: cover;
  margin-right: 1rem;
  margin-top: -75px;
}

.employee-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.employee-details h3 {
  margin: 0;
}

.employee-details p {
  margin: 0.2rem 0;
}

.employee-details button {
  margin-right: 0.5rem;
  padding: 0.3rem 0.5rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #d8dde2;
}

.employee-details button:hover {
  background-color: #4caf50;
}

#employee-form input[type="text"]::placeholder,
input[type="email"]::placeholder {
  color: #6C757D;
}

select {
  color: #6C757D;
}

#employee-list {
  color: #6C757D;
}

#employee-form input {
  color: #6C757D;
}

/* Responsive adjustments for screens smaller than 768px */
@media (max-width: 768px) {
  .app {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .employee-form {
    width: 100%;
    padding: 10px;
  }

  .employee-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .employee-image {
    margin-bottom: 10px;
    margin-top: 0;
  }
}


@media (max-width: 1120px) {
  .app {
    width: 100%;
    padding-left: 10px;
    padding-right: 50px;
  }
}
  
  .employee-form {
    gap: 0.5rem;
  }

  .employee-item {
    padding: 0.5rem;
  }

  .employee-image {
    width: 80px;
    height: 80px;
  }

